workflows/My workflow.json
{
  "active": false,
  "connections": {
    "Get Order from website": {
      "main": [
        [
          {
            "node": "Split Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Total Item List",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get adjusted Units / Case SIze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Items S.O": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Order": {
      "main": [
        [
          {
            "node": "Order ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Order ID": {
      "main": [
        [
          {
            "node": "Get Order from website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get adjusted Units / Case SIze": {
      "main": [
        [
          {
            "node": "If Item in MASTER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for existing Customer - Email": {
      "main": [
        [
          {
            "node": "If  Customer Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get customer addresses": {
      "main": [
        [
          {
            "node": "Split Addresses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Items": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Addresses": {
      "main": [
        [
          {
            "node": "Loop Over Addresses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Addresses": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Address Exists in System",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create S.O with test item": {
      "main": [
        [
          {
            "node": "Update Sales Order with items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Address Exists in System": {
      "main": [
        [
          {
            "node": "Create S.O with test item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Addresses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Address": {
      "main": [
        [
          {
            "node": "Create S.O with test item1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create S.O with test item1": {
      "main": [
        [
          {
            "node": "Update Sales Order with items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Create Address",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If  Customer Exists": {
      "main": [
        [
          {
            "node": "Get customer addresses",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Customer Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Customer Record": {
      "main": [
        [
          {
            "node": "Create Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Customer": {
      "main": [
        [
          {
            "node": "Create Address1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Address1": {
      "main": [
        [
          {
            "node": "Create S.O with test item2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create S.O with test item2": {
      "main": [
        [
          {
            "node": "Update Sales Order with items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qty": {
      "main": [
        [
          {
            "node": "Items S.O",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Total Item List": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Item in MASTER": {
      "main": [
        [
          {
            "node": "Qty",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Unites per Case from ERP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unites per Case from ERP": {
      "main": [
        [
          {
            "node": "Items S.O",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Shipping Rule": {
      "main": [
        [
          {
            "node": "Tax",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Information": {
      "main": [
        [
          {
            "node": "Check for existing Customer - Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search State Name": {
      "main": [
        [
          {
            "node": "Get Shipping Rule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tax": {
      "main": [
        [
          {
            "node": "Get User Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Tax1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search State Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Information1": {
      "main": [
        [
          {
            "node": "Check for existing Customer - Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for existing Customer - Email1": {
      "main": [
        [
          {
            "node": "If  Customer Exists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get customer addresses1": {
      "main": [
        [
          {
            "node": "Split Addresses1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Addresses1": {
      "main": [
        [
          {
            "node": "Loop Over Addresses1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Addresses1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Address Exists in System1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create S.O with test item3": {
      "main": [
        [
          {
            "node": "Update Sales Order with items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Address2": {
      "main": [
        [
          {
            "node": "Create S.O with test item4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Address Exists in System1": {
      "main": [
        [
          {
            "node": "Create S.O with test item3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Addresses1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create S.O with test item4": {
      "main": [
        [
          {
            "node": "Update Sales Order with items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Create Address2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If  Customer Exists1": {
      "main": [
        [
          {
            "node": "Get customer addresses1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Customer Record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Customer Record1": {
      "main": [
        [
          {
            "node": "Create Customer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Customer1": {
      "main": [
        [
          {
            "node": "Create Address3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Address3": {
      "main": [
        [
          {
            "node": "Create S.O with test item5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create S.O with test item5": {
      "main": [
        [
          {
            "node": "Update Sales Order with items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tax1": {
      "main": [
        [
          {
            "node": "Get User Information1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-23T10:00:11.653Z",
  "id": "tmVydGMjrDl5lxIa",
  "meta": null,
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "url": "=https://bulkbox.co.ke/api/orders/{{ $('Order ID').item.json.order_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "cb77031f-dbf6-4ac6-89f7-d5058756627c",
      "name": "Get Order from website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        1380
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c1ed18b9-8f0c-476d-95c2-81120b29c3c8",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1640,
        1320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7f07ada1-1aea-4790-9e1d-89a7598a9537",
              "name": "item_code",
              "value": "={{ $('Split Items').item.json.products.product_code }}",
              "type": "string"
            },
            {
              "id": "8a6ec11f-0315-45fa-8e19-bff1b945ee9e",
              "name": "qty",
              "value": "=\n{{ $json.qty *  $('Loop Over Items').item.json.products.amount || $json.data.units_per_case *  $('Loop Over Items').item.json.products.amount}}",
              "type": "number"
            },
            {
              "id": "dba2d602-ee56-481f-92f6-ead1b3ec73e0",
              "name": "idx",
              "value": "={{$node[\"Loop Over Items\"].context[\"currentRunIndex\"]+1;}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "191600b4-5b96-48d7-9b9e-f92bda532f00",
      "name": "Items S.O",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2440,
        1580
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "5ad574f5-01e4-43b7-92ca-6b6b833f9fba",
              "leftValue": "={{ $json.body.subject }}",
              "rightValue": "has been placed successfully",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "f0d01ce0-fe9a-42db-962a-6d348657294b",
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "sales@bulkbox.co.ke",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0799add7-57b6-46ba-af2f-4ff69b750a56",
      "name": "Order",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        660,
        1380
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a5f2318c-ae12-4606-8953-e39b78998c54",
              "name": "order_id",
              "value": "={{ $json.body.subject.match(/\\d+/) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "77d41fa3-070a-41cc-8084-8e5fb173fe19",
      "name": "Order ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        900,
        1380
      ]
    },
    {
      "parameters": {
        "url": "=https://bulkbox.co.ke/api/users/{{ $('Get Order from website').item.json.user_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "7f108a2a-2fa4-4722-8892-914265ada689",
      "name": "Get User Information",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3440,
        1260
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appSCi0a1zPuJizxg",
          "mode": "list",
          "cachedResultName": "Bulkbox Final Master",
          "cachedResultUrl": "https://airtable.com/appSCi0a1zPuJizxg"
        },
        "table": {
          "__rl": true,
          "value": "tbl2hGiQmpSg73Una",
          "mode": "list",
          "cachedResultName": "MASTER",
          "cachedResultUrl": "https://airtable.com/appSCi0a1zPuJizxg/tbl2hGiQmpSg73Una"
        },
        "filterByFormula": "=({Item Code}=\"{{ $json.products.product_code }}\")",
        "options": {}
      },
      "id": "bbe05d6f-57b4-4232-9572-ffcacc38e3f2",
      "name": "Get adjusted Units / Case SIze",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1800,
        1440
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "d25bca0a-4c5d-4211-b39d-d1c648aac045",
      "name": "Total Item List",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1800,
        1200
      ]
    },
    {
      "parameters": {
        "url": "=https://portal.bulkbox.cloud/api/resource/Customer?fields=[\"customer_name\",\"email_id\"]&filters=[[\"email_id\",\"=\",\"{{ $json.body.email }}\"]]",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "53a0070e-7d9a-4168-82a1-e2aff34d43a3",
      "name": "Check for existing Customer - Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3840,
        1260
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://portal.bulkbox.cloud/api/resource/Address?fields=[\"name\",\"address_title\",\"address_line1\",\"address_line2\"]&filters=[[\"address_title\", \"like\", \"%{{ encodeURIComponent($json.body.data[0].customer_name) }}%\"]] ",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "486433b8-d714-45fb-943b-3cd598dd57be",
      "name": "Get customer addresses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4540,
        1160
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "products",
        "include": "=",
        "options": {}
      },
      "id": "cd305600-5903-4fde-b58b-0dd3c3b468ba",
      "name": "Split Items",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1340,
        1380
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.data",
        "options": {}
      },
      "id": "f0895b32-75e5-4877-8655-f8fde98c67fd",
      "name": "Split Addresses",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        4740,
        1160
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3ea3edc5-90ed-4ab1-aaee-d501f341e2a9",
      "name": "Loop Over Addresses",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4920,
        1160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal.bulkbox.cloud/api/resource/Sales%20Order",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"data\":{\n      \"customer\":\"{{ $('Check for existing Customer - Email').item.json[\"body\"][\"data\"][0][\"customer_name\"] }}\",\n      \"order_type\":\"Sales\",\n      \"payment_method\":\"M-PESA\",\n      \"title\":\"{{ $('Check for existing Customer - Email').item.json[\"body\"][\"data\"][0][\"customer_name\"]}} - Online\",\n      \"company\":\"Three Spears Limited\",\n      \"transaction_date\":\"{{ $today.format(\"yyyy-MM-dd\")}}\",\n      \"delivery_date\":\"{{ $today.plus(1, \"day\").format(\"yyyy-MM-dd\")}}\",\"customer_address\":\"{{ $json.name }}\",\n      \"selling_price_list\":\"Standard Selling\",\n      \"po_no\":\"Order ‎#{{ $('Order ID').item.json[\"order_id\"] }}\",\n      \"attach_order\":\"https://bulkbox.co.ke/admin.php?dispatch=orders.print_invoice&order_id={{ $('Order ID').item.json[\"order_id\"] }}\",\n      \"doctype\":\"Sales Order\",\n      \"items\":[\n         {\n            \"item_code\":\"TEST01\",\n            \"qty\":1\n         }\n      ]\n   }\n} ",
        "options": {}
      },
      "id": "ddf324cd-97e6-45e0-9842-e0a3bcaa2e91",
      "name": "Create S.O with test item",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5380,
        1240
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "docType": "Sales%20Order",
        "documentName": "={{ $json.data.name }}",
        "properties": {
          "customProperty": [
            {
              "field": "items",
              "value": "={{ $('Total Item List').item.json.data }}"
            },
            {
              "field": "taxes",
              "value": "={{ $('Tax').item.json.data }}"
            },
            {
              "field": "shipping_rule",
              "value": "={{ $('Get Shipping Rule').item.json.data[0].name }}"
            }
          ]
        }
      },
      "id": "0450d625-f8af-4c09-8c2a-e0036d57f95e",
      "name": "Update Sales Order with items",
      "type": "n8n-nodes-base.erpNext",
      "typeVersion": 1,
      "position": [
        5600,
        1240
      ],
      "alwaysOutputData": true,
      "retryOnFail": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal.bulkbox.cloud/api/resource/Address",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"address_title\":\"{{$('Get Order from website').item.json[\"firstname\"]+\" \"+$('Get Order from website').item.json[\"lastname\"]}} Address\",\n   \"name\":\"{{$('Get Order from website').item.json[\"firstname\"]+\" \"+$('Get Order from website').item.json[\"lastname\"]}} Shipping\",\n   \"address_type\":\"Billing\",\n   \"address_line1\":\"{{$('Get Order from website').item.json[\"s_address\"]}}\",\n   \"address_line2\":\"{{$('Get Order from website').item.json[\"s_address_2\"]}}\",\n   \"city\":\"{{ $('Get Order from website').item.json.s_state_descr }}\",\n   \"state\":\"Nairobi\",\n   \"Country\":\"Kenya\",\"phone\":\"{{$('Get Order from website').item.json[\"phone\"]}} - {{$('Get Order from website').item.json[\"firstname\"]+\" \"+$('Get Order from website').item.json[\"lastname\"]}}\",\n   \"is_primary_address\":1,\n   \"links\":[\n      {\n         \"link_doctype\":\"Customer\",\n         \"link_name\":\"{{$('Check for existing Customer - Email').item.json[\"body\"][\"data\"][0][\"customer_name\"]}}\"\n      }\n   ]\n}",
        "options": {}
      },
      "id": "8abc70d8-33d1-42da-aa8a-84846158d52b",
      "name": "Create Address",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5380,
        1060
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2c57bc1d-2a06-40ec-a188-a5bab2a1fc0e",
              "leftValue": "={{ $json.address_line1 }}",
              "rightValue": "={{ $('Get Order from website').item.json.s_address }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "27eb86c1-9212-4572-bf64-59083cbbd80a",
              "leftValue": "={{ $json.address_line2 }}",
              "rightValue": "={{ $('Get Order from website').item.json.s_address }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "e322ab97-1661-4537-9756-6aa960b8533f",
      "name": "If Address Exists in System",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5180,
        1260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal.bulkbox.cloud/api/resource/Sales%20Order",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"data\":{\n      \"customer\":\"{{ $('Check for existing Customer - Email').item.json[\"body\"][\"data\"][0][\"customer_name\"] }}\",\n      \"order_type\":\"Sales\",\n      \"payment_method\":\"M-PESA\",\n      \"title\":\"{{ $('Check for existing Customer - Email').item.json[\"body\"][\"data\"][0][\"customer_name\"]}} - Online\",\n      \"company\":\"Three Spears Limited\",\n      \"transaction_date\":\"{{ $today.format(\"yyyy-MM-dd\")}}\",\n      \"delivery_date\":\"{{ $today.plus(1, \"day\").format(\"yyyy-MM-dd\")}}\",\"customer_address\":\"{{ $('Create Address').item.json[\"data\"][\"name\"] }}\",\n      \"selling_price_list\":\"Standard Selling\",\n      \"po_no\":\"Order ‎#{{ $('Order ID').item.json[\"order_id\"] }}\",\n      \"attach_order\":\"https://bulkbox.co.ke/admin.php?dispatch=orders.print_invoice&order_id={{ $('Order ID').item.json[\"order_id\"] }}\",\n      \"doctype\":\"Sales Order\",\n      \"items\":[\n         {\n            \"item_code\":\"TEST01\",\n            \"qty\":1\n         }\n      ]\n   }\n} ",
        "options": {}
      },
      "id": "dc399141-ff5f-4fdc-9afb-ae750eaebb99",
      "name": "Create S.O with test item1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5600,
        1060
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "docType": "Sales%20Order",
        "documentName": "={{ $json.data.name }}",
        "properties": {
          "customProperty": [
            {
              "field": "items",
              "value": "={{ $('Total Item List').item.json.data }}"
            },
            {
              "field": "taxes",
              "value": "={{ $('Tax').item.json.data }}"
            },
            {
              "field": "shipping_rule",
              "value": "={{ $('Get Shipping Rule').item.json.data[0].name }}"
            }
          ]
        }
      },
      "id": "bd0cf058-39af-4db0-a051-568b75a704da",
      "name": "Update Sales Order with items1",
      "type": "n8n-nodes-base.erpNext",
      "typeVersion": 1,
      "position": [
        5820,
        1060
      ],
      "alwaysOutputData": true,
      "retryOnFail": false
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "b34f5976-2908-4596-978f-6162a8d59afa",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        5160,
        1060
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "956198e5-14e4-4ad7-a6ef-e672241fd858",
              "leftValue": "={{ $json.body.data[0].customer_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3d27ff9-2e49-4c8d-8723-2864888f8c40",
      "name": "If  Customer Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4140,
        1260
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appqmFBvp9I9IB1YV",
          "mode": "list",
          "cachedResultName": "Contact Database",
          "cachedResultUrl": "https://airtable.com/appqmFBvp9I9IB1YV"
        },
        "table": {
          "__rl": true,
          "value": "tblBkafwuK7H4aReA",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/appqmFBvp9I9IB1YV/tblBkafwuK7H4aReA"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Bio Check": false,
            "Company Name": "={{ $ifEmpty($('Get User Information').item.json[\"body\"][\"company\"],$('Get User Information').item.json[\"body\"][\"firstname\"]+\" \"+$('Get User Information').item.json[\"body\"][\"lastname\"]) }}",
            "User Group ID": 0,
            "First Name": "={{ $('Get User Information').item.json.body.firstname }}",
            "Last Name": "={{ $('Get User Information').item.json.body.lastname }}",
            "Contact Status": "One Time Customers",
            "Contact Type": "Unassigned",
            "Source": "Website",
            "Tel": "={{ $('Get User Information').item.json.body.phone }}",
            "Email": "={{ $('Get User Information').item.json.body.email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Job Role",
              "displayName": "Job Role",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Owner",
                  "value": "Owner"
                },
                {
                  "name": "General Manager",
                  "value": "General Manager"
                },
                {
                  "name": "Procurement Manager",
                  "value": "Procurement Manager"
                },
                {
                  "name": "Procurement Officer",
                  "value": "Procurement Officer"
                },
                {
                  "name": "Office Adminstrator",
                  "value": "Office Adminstrator"
                },
                {
                  "name": "Undefined",
                  "value": "Undefined"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact Status",
              "displayName": "Contact Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Lead",
                  "value": "Lead"
                },
                {
                  "name": "One Time Customers",
                  "value": "One Time Customers"
                },
                {
                  "name": "Account",
                  "value": "Account"
                },
                {
                  "name": "Unassigned",
                  "value": "Unassigned"
                },
                {
                  "name": "Lost Customer",
                  "value": "Lost Customer"
                },
                {
                  "name": "Closed",
                  "value": "Closed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact Type",
              "displayName": "Contact Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Food Service",
                  "value": "Food Service"
                },
                {
                  "name": "Retail",
                  "value": "Retail"
                },
                {
                  "name": "Corporate",
                  "value": "Corporate"
                },
                {
                  "name": "Unassigned",
                  "value": "Unassigned"
                },
                {
                  "name": "Consumer",
                  "value": "Consumer"
                },
                {
                  "name": "Restaurant",
                  "value": "Restaurant"
                },
                {
                  "name": "Retailer",
                  "value": "Retailer"
                },
                {
                  "name": "Other",
                  "value": "Other"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Website",
                  "value": "Website"
                },
                {
                  "name": "App",
                  "value": "App"
                },
                {
                  "name": "Landing Page",
                  "value": "Landing Page"
                },
                {
                  "name": "Other Forms",
                  "value": "Other Forms"
                },
                {
                  "name": "ERP",
                  "value": "ERP"
                },
                {
                  "name": "Whatsapp",
                  "value": "Whatsapp"
                },
                {
                  "name": "Email",
                  "value": "Email"
                },
                {
                  "name": "Call in",
                  "value": "Call in"
                },
                {
                  "name": "Supplier Referall",
                  "value": "Supplier Referall"
                },
                {
                  "name": "Customer Referall",
                  "value": "Customer Referall"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tel",
              "displayName": "Tel",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Send to CRM / Moosend",
              "displayName": "Send to CRM / Moosend",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Send to CRM",
                  "value": "Send to CRM"
                },
                {
                  "name": "Moosend",
                  "value": "Moosend"
                },
                {
                  "name": "Send to CRM Sophia",
                  "value": "Send to CRM Sophia"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created By",
              "displayName": "Created By",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "User Group ID",
              "displayName": "User Group ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assigned",
              "displayName": "Assigned",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Month",
              "displayName": "Month",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Send Sales Email",
              "displayName": "Send Sales Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Send Intro Sequence",
                  "value": "Send Intro Sequence"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Bio Check",
              "displayName": "Bio Check",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "e68c3b48-f048-46a4-a19b-0a1471b3205e",
      "name": "Create Customer Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        4540,
        1480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal.bulkbox.cloud/api/resource/Customer",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"data\":[\n      {\n         \"name\":\"{{ $ifEmpty($('Get User Information').item.json[\"body\"][\"company\"],$('Get User Information').item.json[\"body\"][\"firstname\"]+\" \"+$('Get User Information').item.json[\"body\"][\"lastname\"]).trim().toLowerCase().split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ')}}\",\n         \"customer_name\":\"{{ $ifEmpty($('Get User Information').item.json[\"body\"][\"company\"],$('Get User Information').item.json[\"body\"][\"firstname\"]+\" \"+$('Get User Information').item.json[\"body\"][\"lastname\"]).trim().toLowerCase().split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ')}}\",\n         \"customer_type\":\"Individual\",\n         \"customer_group\":\"Consumer\",\n         \"territory\":\"All Territories\",\n         \"mobile_no\":\"{{ $('Get User Information').item.json[\"body\"][\"phone\"] }}\",\n         \"email_id\":\"{{ $('Get User Information').item.json[\"body\"][\"email\"] }}\",\"tax_id\":\"{{ $ifEmpty($('Get User Information').item.json[\"body\"][\"tax_id\"], \"NILL\")}}\",\n         \"payment_terms\":\"Cash On Delivery\",\n         \"credit_limits\": [\n            {\n                \"parent\": \"{{ $ifEmpty($('Get User Information').item.json[\"body\"][\"company\"],$('Get User Information').item.json[\"body\"][\"firstname\"]+\" \"+$('Get User Information').item.json[\"body\"][\"lastname\"]).trim().toLowerCase().split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ')}}\",\n                \"parentfield\": \"credit_limits\",\n                \"parenttype\": \"Customer\",\n                \"credit_limit\": 50000.0,\n                \"doctype\": \"Customer Credit Limit\"\n            }\n        ]\n      }\n   ]\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "050e3879-770c-4472-8feb-77c6e428906b",
      "name": "Create Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4740,
        1480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal.bulkbox.cloud/api/resource/Address",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"address_title\":\"{{$('Get Order from website').item.json[\"firstname\"]+\" \"+$('Get Order from website').item.json[\"lastname\"]}} Address\",\n   \"name\":\"{{$('Get Order from website').item.json[\"firstname\"]+\" \"+$('Get Order from website').item.json[\"lastname\"]}} Shipping\",\n   \"address_type\":\"Billing\",\n   \"address_line1\":\"{{ $ifEmpty($('Get Order from website').item.json[\"s_address\"],\"n/a\")}}\",\n   \"address_line2\":\"{{$ifEmpty($('Get Order from website').item.json[\"s_address_2\"],\"n/a\")}}\",\n   \"city\":\"{{ $('Get Order from website').item.json.s_state_descr }}\",\n   \"state\":\"Nairobi\",\n   \"Country\":\"Kenya\",\"phone\":\"{{$('Get Order from website').item.json[\"phone\"]}} - {{$('Get Order from website').item.json[\"firstname\"]+\" \"+$('Get Order from website').item.json[\"lastname\"]}}\",\n   \"is_primary_address\":1,\n   \"links\":[\n      {\n         \"link_doctype\":\"Customer\",\n         \"link_name\":\"{{ $('Create Customer').item.json[\"body\"][\"data\"][\"name\"] }}\"\n      }\n   ]\n} ",
        "options": {}
      },
      "id": "b50dd579-4117-42a7-8961-e21edea603bf",
      "name": "Create Address1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4960,
        1480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal.bulkbox.cloud/api/resource/Sales%20Order",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"data\":{\n      \"customer\":\"{{ $('Create Customer').item.json[\"body\"][\"data\"][\"customer_name\"] }}\",\n      \"order_type\":\"Sales\",\n      \"payment_method\":\"M-PESA\",\n      \"title\":\"{{ $('Create Customer').item.json[\"body\"][\"data\"][\"customer_name\"] }} - Online\",\n      \"company\":\"Three Spears Limited\",\n      \"transaction_date\":\"{{ $today.format(\"yyyy-MM-dd\")}}\",\n      \"delivery_date\":\"{{ $today.plus(1, \"day\").format(\"yyyy-MM-dd\")}}\",\"customer_address\":\"{{ $json.name }}\",\n      \"selling_price_list\":\"Standard Selling\",\n      \"po_no\":\"Order ‎#{{ $('Order ID').item.json[\"order_id\"] }}\",\n      \"attach_order\":\"https://bulkbox.co.ke/admin.php?dispatch=orders.print_invoice&order_id={{ $('Order ID').item.json[\"order_id\"] }}\",\n      \"doctype\":\"Sales Order\",\n      \"items\":[\n         {\n            \"item_code\":\"TEST01\",\n            \"qty\":1\n         }\n      ]\n   }\n} ",
        "options": {}
      },
      "id": "781a4853-4dd5-453a-aa10-b62289e062ae",
      "name": "Create S.O with test item2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5180,
        1480
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "docType": "Sales%20Order",
        "documentName": "={{ $json.data.name }}",
        "properties": {
          "customProperty": [
            {
              "field": "=items",
              "value": "={{ $('Total Item List').item.json.data }}"
            },
            {
              "field": "taxes",
              "value": "={{ $('Tax').item.json.data }}"
            },
            {
              "field": "shipping_rule",
              "value": "={{ $('Get Shipping Rule').item.json.data[0].name }}"
            }
          ]
        }
      },
      "id": "978b6b05-03b5-4e50-95b7-cb2acbf8a5d9",
      "name": "Update Sales Order with items2",
      "type": "n8n-nodes-base.erpNext",
      "typeVersion": 1,
      "position": [
        5380,
        1480
      ],
      "alwaysOutputData": true,
      "retryOnFail": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5853b6b1-9668-4788-890e-ee684f692012",
              "name": "qty",
              "value": "={{ $ifEmpty( $json[\"Adjusted Units\"], $json[\"Units Per Case\"] )}}\n",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "0600e6b1-5d16-452f-a503-1088934cfd7a",
      "name": "Qty",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2240,
        1420
      ]
    },
    {
      "parameters": {
        "content": "# Flow of Automation\n## * Receives webhook from brevo.\n## * Filers to only check for orders successfully placed.\n## * GEts the order details form the website using the order_id.\n## * Splits the items in the order, and loops through airtable to get their adjusted quantity /  case size.\n## * Gives the items 'idx' postion to be placed in the sales order.\n## * Gets the user information from the website.\n## * Checks if user is existent in the ERP.\n## * Checks if address given exists.\n## * Creates S.O with test items usng http node.\n## * Updates the created items with items from website.",
        "height": 512.2006141248717,
        "width": 1314.7799385875135
      },
      "id": "e53cd1bc-9115-4196-9772-101a2075b0e3",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n   \"data\":[\n      {\n         \"charge_type\":\"On Net Total\",\n         \"account_head\":\"VAT - 16% - TSL\",\n         \"description\": \"VAT - 16% - TSL\"\n      },\n      {\n         \"charge_type\":\"On Net Total\",\n         \"account_head\":\"Zero Rated Tax - TSL\",\n         \"description\":\"Zero Rated Tax - TSL\"\n      }\n   ]\n}",
        "options": {}
      },
      "id": "f284ea46-8f3f-42b8-9c73-987777baf56c",
      "name": "Tax",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        3040,
        1220
      ]
    },
    {
      "parameters": {
        "url": "=https://portal.bulkbox.cloud/api/resource/Item/{{ $('Loop Over Items').item.json.products.product_code }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "options": {}
      },
      "id": "577a45d8-7793-44eb-906e-5621b3d52955",
      "name": "Get Unites per Case from ERP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2240,
        1580
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "190ac8db-c2cf-4d63-bc53-a652680eb60f",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "90a2e894-cffa-46c6-af00-ac1c32afbe8b",
      "name": "If Item in MASTER",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2000,
        1440
      ]
    },
    {
      "parameters": {
        "method": "=GET",
        "url": "=https://portal.bulkbox.cloud/api/resource/Shipping%20Rule?filters=[[\"name\",\"like\",\"%{{ $('Search State Name').item.json[\"Shipping CS Name\"] }}%\"]]",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "options": {}
      },
      "id": "c338dd88-1db6-460d-9e23-ead07f49e7ac",
      "name": "Get Shipping Rule",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2780,
        1220
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appSCi0a1zPuJizxg",
          "mode": "list",
          "cachedResultName": "Bulkbox Final Master",
          "cachedResultUrl": "https://airtable.com/appSCi0a1zPuJizxg"
        },
        "table": {
          "__rl": true,
          "value": "tblHwkMVbotHdnwON",
          "mode": "list",
          "cachedResultName": "Shipping Rule",
          "cachedResultUrl": "https://airtable.com/appSCi0a1zPuJizxg/tblHwkMVbotHdnwON"
        },
        "filterByFormula": "=({Shipping CS Code}=\"{{ $('Get Order from website').item.json.s_state }}\")",
        "options": {}
      },
      "id": "4f106ccf-b6ac-4e32-9684-a65c46e4de63",
      "name": "Search State Name",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        2440,
        1220
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "730b4433-4805-42be-bdfd-59a13ae1919d",
        "options": {}
      },
      "id": "e24805bb-0800-4402-8d98-1c99972369f4",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        440,
        1380
      ],
      "webhookId": "730b4433-4805-42be-bdfd-59a13ae1919d"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "874f5efd-4cf7-40ac-af80-92f6fec7d91f",
              "leftValue": "={{ $('Get Order from website').item.json.shipping_cost }}",
              "rightValue": "0.00",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "c6654a8c-5e3f-458c-9f30-ecec300c0daf",
              "leftValue": "={{ $('Get Order from website').item.json.b_state }}",
              "rightValue": "PICKUP",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "37ebc3ce-f0e5-4fb3-9b4f-12138310ac1f",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2060,
        1160
      ]
    },
    {
      "parameters": {
        "url": "=https://bulkbox.co.ke/api/users/{{ $('Get Order from website').item.json.user_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "ff6c6747-41a5-4d72-9201-729dd7fe2113",
      "name": "Get User Information1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2560,
        780
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://portal.bulkbox.cloud/api/resource/Customer?fields=[\"customer_name\",\"email_id\"]&filters=[[\"email_id\",\"=\",\"{{ $json.body.email }}\"]]",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "5024da57-24e8-499a-aa4c-13cecd095d7a",
      "name": "Check for existing Customer - Email1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2820,
        780
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://portal.bulkbox.cloud/api/resource/Address?fields=[\"name\",\"address_title\",\"address_line1\",\"address_line2\"]&filters=[[\"address_title\", \"like\", \"%{{ encodeURIComponent($json.body.data[0].customer_name) }}%\"]] ",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "ee3d66f8-ac63-4572-84f8-c41fd30e0e12",
      "name": "Get customer addresses1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3440,
        740
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.data",
        "options": {}
      },
      "id": "ff17c1db-ff7c-4b9f-8279-a40dca8e783c",
      "name": "Split Addresses1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3640,
        740
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3c6a7f6a-f5e2-4a5a-853e-30991712493d",
      "name": "Loop Over Addresses1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3820,
        740
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal.bulkbox.cloud/api/resource/Sales%20Order",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"data\":{\n      \"customer\":\"{{ $('Check for existing Customer - Email1').item.json[\"body\"][\"data\"][0][\"customer_name\"] }}\",\n      \"order_type\":\"Sales\",\n      \"payment_method\":\"M-PESA\",\n      \"title\":\"{{ $('Check for existing Customer - Email1').item.json[\"body\"][\"data\"][0][\"customer_name\"]}} - Online\",\n      \"company\":\"Three Spears Limited\",\n      \"transaction_date\":\"{{ $today.format(\"yyyy-MM-dd\")}}\",\n      \"delivery_date\":\"{{ $today.plus(1, \"day\").format(\"yyyy-MM-dd\")}}\",\"customer_address\":\"{{ $json.name }}\",\n      \"selling_price_list\":\"Standard Selling\",\n      \"po_no\":\"Order ‎#{{ $('Order ID').item.json[\"order_id\"] }}\",\n      \"attach_order\":\"https://bulkbox.co.ke/admin.php?dispatch=orders.print_invoice&order_id={{ $('Order ID').item.json[\"order_id\"] }}\",\n      \"doctype\":\"Sales Order\",\n      \"items\":[\n         {\n            \"item_code\":\"TEST01\",\n            \"qty\":1\n         }\n      ]\n   }\n} ",
        "options": {}
      },
      "id": "f218d96e-088c-4a10-ba53-95d407ce2704",
      "name": "Create S.O with test item3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4280,
        820
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "docType": "Sales%20Order",
        "documentName": "={{ $json.data.name }}",
        "properties": {
          "customProperty": [
            {
              "field": "items",
              "value": "={{ $('Total Item List').item.json.data }}"
            },
            {
              "field": "taxes",
              "value": "={{ $('Tax1').item.json.data }}"
            }
          ]
        }
      },
      "id": "e5565c39-3cb6-4af0-aee7-1ee4cd1b3c19",
      "name": "Update Sales Order with items3",
      "type": "n8n-nodes-base.erpNext",
      "typeVersion": 1,
      "position": [
        4500,
        820
      ],
      "alwaysOutputData": true,
      "retryOnFail": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal.bulkbox.cloud/api/resource/Address",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"address_title\":\"{{$('Get Order from website').item.json[\"firstname\"]+\" \"+$('Get Order from website').item.json[\"lastname\"]}} Address\",\n   \"name\":\"{{$('Get Order from website').item.json[\"firstname\"]+\" \"+$('Get Order from website').item.json[\"lastname\"]}} Shipping\",\n   \"address_type\":\"Billing\",\n   \"address_line1\":\"{{$('Get Order from website').item.json[\"s_address\"]}}\",\n   \"address_line2\":\"{{$('Get Order from website').item.json[\"s_address_2\"]}}\",\n   \"city\":\"{{ $('Get Order from website').item.json.s_state_descr }}\",\n   \"state\":\"Nairobi\",\n   \"Country\":\"Kenya\",\"phone\":\"{{$('Get Order from website').item.json[\"phone\"]}} - {{$('Get Order from website').item.json[\"firstname\"]+\" \"+$('Get Order from website').item.json[\"lastname\"]}}\",\n   \"is_primary_address\":1,\n   \"links\":[\n      {\n         \"link_doctype\":\"Customer\",\n         \"link_name\":\"{{$('Check for existing Customer - Email1').item.json[\"body\"][\"data\"][0][\"customer_name\"]}}\"\n      }\n   ]\n}",
        "options": {}
      },
      "id": "4bf29070-2be3-47f2-b433-92b69fe76ec2",
      "name": "Create Address2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4280,
        640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2c57bc1d-2a06-40ec-a188-a5bab2a1fc0e",
              "leftValue": "={{ $json.address_line1 }}",
              "rightValue": "={{ $('Get Order from website').item.json.s_address }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "27eb86c1-9212-4572-bf64-59083cbbd80a",
              "leftValue": "={{ $json.address_line2 }}",
              "rightValue": "={{ $('Get Order from website').item.json.s_address }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "a76a2b97-b8af-47c4-a13c-20ac38e5b438",
      "name": "If Address Exists in System1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4080,
        840
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal.bulkbox.cloud/api/resource/Sales%20Order",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"data\":{\n      \"customer\":\"{{ $('Check for existing Customer - Email1').item.json[\"body\"][\"data\"][0][\"customer_name\"] }}\",\n      \"order_type\":\"Sales\",\n      \"payment_method\":\"M-PESA\",\n      \"title\":\"{{ $('Check for existing Customer - Email1').item.json[\"body\"][\"data\"][0][\"customer_name\"]}} - Online\",\n      \"company\":\"Three Spears Limited\",\n      \"transaction_date\":\"{{ $today.format(\"yyyy-MM-dd\")}}\",\n      \"delivery_date\":\"{{ $today.plus(1, \"day\").format(\"yyyy-MM-dd\")}}\",\"customer_address\":\"{{ $('Create Address2').item.json[\"data\"][\"name\"] }}\",\n      \"selling_price_list\":\"Standard Selling\",\n      \"po_no\":\"Order ‎#{{ $('Order ID').item.json[\"order_id\"] }}\",\n      \"attach_order\":\"https://bulkbox.co.ke/admin.php?dispatch=orders.print_invoice&order_id={{ $('Order ID').item.json[\"order_id\"] }}\",\n      \"doctype\":\"Sales Order\",\n      \"items\":[\n         {\n            \"item_code\":\"TEST01\",\n            \"qty\":1\n         }\n      ]\n   }\n} ",
        "options": {}
      },
      "id": "e841f8d7-87ef-483b-be77-b1ec2b651882",
      "name": "Create S.O with test item4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4500,
        640
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "docType": "Sales%20Order",
        "documentName": "={{ $json.data.name }}",
        "properties": {
          "customProperty": [
            {
              "field": "items",
              "value": "={{ $('Total Item List').item.json.data }}"
            },
            {
              "field": "taxes",
              "value": "={{ $('Tax1').item.json.data }}"
            }
          ]
        }
      },
      "id": "c0718e25-aaff-4582-a796-1c3482739ee0",
      "name": "Update Sales Order with items4",
      "type": "n8n-nodes-base.erpNext",
      "typeVersion": 1,
      "position": [
        4720,
        640
      ],
      "alwaysOutputData": true,
      "retryOnFail": false
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "c907c960-0061-4bba-bb44-c175818779be",
      "name": "Aggregate1",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4060,
        640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "956198e5-14e4-4ad7-a6ef-e672241fd858",
              "leftValue": "={{ $json.body.data[0].customer_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f59f2c91-9a68-469c-9f1a-2420a96e7ed0",
      "name": "If  Customer Exists1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3080,
        780
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appqmFBvp9I9IB1YV",
          "mode": "list",
          "cachedResultName": "Contact Database",
          "cachedResultUrl": "https://airtable.com/appqmFBvp9I9IB1YV"
        },
        "table": {
          "__rl": true,
          "value": "tblBkafwuK7H4aReA",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/appqmFBvp9I9IB1YV/tblBkafwuK7H4aReA"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Bio Check": false,
            "Company Name": "={{ $ifEmpty($('Get User Information1').item.json[\"body\"][\"company\"],$('Get User Information1').item.json[\"body\"][\"firstname\"]+\" \"+$('Get User Information1').item.json[\"body\"][\"lastname\"]) }}",
            "User Group ID": 0,
            "First Name": "={{ $('Get User Information1').item.json.body.firstname }}",
            "Last Name": "={{ $('Get User Information1').item.json.body.lastname }}",
            "Contact Status": "One Time Customers",
            "Contact Type": "Unassigned",
            "Source": "Website",
            "Tel": "={{ $('Get User Information1').item.json.body.phone }}",
            "Email": "={{ $('Get User Information1').item.json.body.email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Job Role",
              "displayName": "Job Role",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Owner",
                  "value": "Owner"
                },
                {
                  "name": "General Manager",
                  "value": "General Manager"
                },
                {
                  "name": "Procurement Manager",
                  "value": "Procurement Manager"
                },
                {
                  "name": "Procurement Officer",
                  "value": "Procurement Officer"
                },
                {
                  "name": "Office Adminstrator",
                  "value": "Office Adminstrator"
                },
                {
                  "name": "Undefined",
                  "value": "Undefined"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact Status",
              "displayName": "Contact Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Lead",
                  "value": "Lead"
                },
                {
                  "name": "One Time Customers",
                  "value": "One Time Customers"
                },
                {
                  "name": "Account",
                  "value": "Account"
                },
                {
                  "name": "Unassigned",
                  "value": "Unassigned"
                },
                {
                  "name": "Lost Customer",
                  "value": "Lost Customer"
                },
                {
                  "name": "Closed",
                  "value": "Closed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact Type",
              "displayName": "Contact Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Food Service",
                  "value": "Food Service"
                },
                {
                  "name": "Retail",
                  "value": "Retail"
                },
                {
                  "name": "Corporate",
                  "value": "Corporate"
                },
                {
                  "name": "Unassigned",
                  "value": "Unassigned"
                },
                {
                  "name": "Consumer",
                  "value": "Consumer"
                },
                {
                  "name": "Restaurant",
                  "value": "Restaurant"
                },
                {
                  "name": "Retailer",
                  "value": "Retailer"
                },
                {
                  "name": "Other",
                  "value": "Other"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Website",
                  "value": "Website"
                },
                {
                  "name": "App",
                  "value": "App"
                },
                {
                  "name": "Landing Page",
                  "value": "Landing Page"
                },
                {
                  "name": "Other Forms",
                  "value": "Other Forms"
                },
                {
                  "name": "ERP",
                  "value": "ERP"
                },
                {
                  "name": "Whatsapp",
                  "value": "Whatsapp"
                },
                {
                  "name": "Email",
                  "value": "Email"
                },
                {
                  "name": "Call in",
                  "value": "Call in"
                },
                {
                  "name": "Supplier Referall",
                  "value": "Supplier Referall"
                },
                {
                  "name": "Customer Referall",
                  "value": "Customer Referall"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tel",
              "displayName": "Tel",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Send to CRM / Moosend",
              "displayName": "Send to CRM / Moosend",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Send to CRM",
                  "value": "Send to CRM"
                },
                {
                  "name": "Moosend",
                  "value": "Moosend"
                },
                {
                  "name": "Send to CRM Sophia",
                  "value": "Send to CRM Sophia"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created By",
              "displayName": "Created By",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "User Group ID",
              "displayName": "User Group ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assigned",
              "displayName": "Assigned",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Month",
              "displayName": "Month",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Send Sales Email",
              "displayName": "Send Sales Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Send Intro Sequence",
                  "value": "Send Intro Sequence"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Bio Check",
              "displayName": "Bio Check",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "9d3755c6-605a-4d7a-a86b-12e7192866c8",
      "name": "Create Customer Record1",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        3440,
        1060
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal.bulkbox.cloud/api/resource/Customer",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"data\":[\n      {\n         \"name\":\"{{ $ifEmpty($('Get User Information1').item.json[\"body\"][\"company\"],$('Get User Information1').item.json[\"body\"][\"firstname\"]+\" \"+$('Get User Information1').item.json[\"body\"][\"lastname\"]).trim().toLowerCase().split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ')}}\",\n         \"customer_name\":\"{{ $ifEmpty($('Get User Information1').item.json[\"body\"][\"company\"],$('Get User Information1').item.json[\"body\"][\"firstname\"]+\" \"+$('Get User Information1').item.json[\"body\"][\"lastname\"]).trim().toLowerCase().split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ')}}\",\n         \"customer_type\":\"Individual\",\n         \"customer_group\":\"Consumer\",\n         \"territory\":\"All Territories\",\n         \"mobile_no\":\"{{ $('Get User Information1').item.json[\"body\"][\"phone\"] }}\",\n         \"email_id\":\"{{ $('Get User Information1').item.json[\"body\"][\"email\"] }}\",\"tax_id\":\"{{ $ifEmpty($('Get User Information1').item.json[\"body\"][\"tax_id\"], \"NILL\")}}\",\n         \"payment_terms\":\"Cash On Delivery\",\n         \"credit_limits\": [\n            {\n                \"parent\": \"{{ $ifEmpty($('Get User Information1').item.json[\"body\"][\"company\"],$('Get User Information1').item.json[\"body\"][\"firstname\"]+\" \"+$('Get User Information1').item.json[\"body\"][\"lastname\"]).trim().toLowerCase().split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ')}}\",\n                \"parentfield\": \"credit_limits\",\n                \"parenttype\": \"Customer\",\n                \"credit_limit\": 50000.0,\n                \"doctype\": \"Customer Credit Limit\"\n            }\n        ]\n      }\n   ]\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "51025630-ee84-4aaf-95b7-c6a32ae50555",
      "name": "Create Customer1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3640,
        1060
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal.bulkbox.cloud/api/resource/Address",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"address_title\":\"{{$('Get Order from website').item.json[\"firstname\"]+\" \"+$('Get Order from website').item.json[\"lastname\"]}} Address\",\n   \"name\":\"{{$('Get Order from website').item.json[\"firstname\"]+\" \"+$('Get Order from website').item.json[\"lastname\"]}} Shipping\",\n   \"address_type\":\"Billing\",\n   \"address_line1\":\"{{ $ifEmpty($('Get Order from website').item.json[\"s_address\"],\"n/a\")}}\",\n   \"address_line2\":\"{{$ifEmpty($('Get Order from website').item.json[\"s_address_2\"],\"n/a\")}}\",\n   \"city\":\"{{ $('Get Order from website').item.json.s_state_descr }}\",\n   \"state\":\"Nairobi\",\n   \"Country\":\"Kenya\",\"phone\":\"{{$('Get Order from website').item.json[\"phone\"]}} - {{$('Get Order from website').item.json[\"firstname\"]+\" \"+$('Get Order from website').item.json[\"lastname\"]}}\",\n   \"is_primary_address\":1,\n   \"links\":[\n      {\n         \"link_doctype\":\"Customer\",\n         \"link_name\":\"{{ $('Create Customer1').item.json[\"body\"][\"data\"][\"name\"] }}\"\n      }\n   ]\n} ",
        "options": {}
      },
      "id": "1f7dfdd9-3882-41ea-b616-9be3fcee5a9a",
      "name": "Create Address3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3860,
        1060
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal.bulkbox.cloud/api/resource/Sales%20Order",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "erpNextApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"data\":{\n      \"customer\":\"{{ $('Create Customer1').item.json[\"body\"][\"data\"][\"customer_name\"] }}\",\n      \"order_type\":\"Sales\",\n      \"payment_method\":\"M-PESA\",\n      \"title\":\"{{ $('Create Customer1').item.json[\"body\"][\"data\"][\"customer_name\"] }} - Online\",\n      \"company\":\"Three Spears Limited\",\n      \"transaction_date\":\"{{ $today.format(\"yyyy-MM-dd\")}}\",\n      \"delivery_date\":\"{{ $today.plus(1, \"day\").format(\"yyyy-MM-dd\")}}\",\"customer_address\":\"{{ $json.name }}\",\n      \"selling_price_list\":\"Standard Selling\",\n      \"po_no\":\"Order ‎#{{ $('Order ID').item.json[\"order_id\"] }}\",\n      \"attach_order\":\"https://bulkbox.co.ke/admin.php?dispatch=orders.print_invoice&order_id={{ $('Order ID').item.json[\"order_id\"] }}\",\n      \"doctype\":\"Sales Order\",\n      \"items\":[\n         {\n            \"item_code\":\"TEST01\",\n            \"qty\":1\n         }\n      ]\n   }\n} ",
        "options": {}
      },
      "id": "db292460-7bbe-4a80-ab48-2880641bca45",
      "name": "Create S.O with test item5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4080,
        1060
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "docType": "Sales%20Order",
        "documentName": "={{ $json.data.name }}",
        "properties": {
          "customProperty": [
            {
              "field": "=items",
              "value": "={{ $('Total Item List').item.json.data }}"
            },
            {
              "field": "taxes",
              "value": "={{ $('Tax1').item.json.data }}"
            }
          ]
        }
      },
      "id": "84f5fba1-73b8-4e27-a3d6-329169c40619",
      "name": "Update Sales Order with items5",
      "type": "n8n-nodes-base.erpNext",
      "typeVersion": 1,
      "position": [
        4280,
        1060
      ],
      "alwaysOutputData": true,
      "retryOnFail": false
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n   \"data\":[\n      {\n         \"charge_type\":\"On Net Total\",\n         \"account_head\":\"VAT - 16% - TSL\",\n         \"description\": \"VAT - 16% - TSL\"\n      },\n      {\n         \"charge_type\":\"On Net Total\",\n         \"account_head\":\"Zero Rated Tax - TSL\",\n         \"description\":\"Zero Rated Tax - TSL\"\n      }\n   ]\n}",
        "options": {}
      },
      "id": "7bbfd186-4402-44bd-89fb-9e82f5a6fa06",
      "name": "Tax1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2360,
        780
      ]
    },
    {
      "parameters": {
        "content": "## NO SHIPPING RULE\n",
        "height": 137.27129722233346,
        "width": 351.1181024685918
      },
      "id": "8062701d-3b81-44b5-a663-43fd801e5cb5",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2320,
        620
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.bulkbox.cloud",
            "user-agent": "SendinBlue Webhook",
            "content-length": "383",
            "accept": "*/*",
            "accept-encoding": "gzip",
            "content-type": "application/json",
            "traceparent": "00-6834c0d839d27f9bb3a53850abed2961-db7642e3f32929da-01",
            "x-forwarded-for": "1.179.112.170",
            "x-forwarded-host": "n8n.bulkbox.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "19ac6f0cdfeb",
            "x-real-ip": "1.179.112.170"
          },
          "params": {},
          "query": {},
          "body": {
            "id": 1039147,
            "email": "sales@bulkbox.co.ke",
            "message-id": "<707b1d4a243927d1fbf5ba1daf063529@bulkbox.co.ke>",
            "date": "2024-06-22 08:07:16",
            "tag": "",
            "event": "delivered",
            "subject": "Bulkbox: Order #32811 has been placed successfully",
            "sending_ip": "77.32.148.23",
            "ts_event": 1719032836,
            "ts": 1719032836,
            "reason": "sent",
            "ts_epoch": 1719032836000,
            "sender_email": "sales@bulkbox.co.ke"
          },
          "webhookUrl": "https://n8n.bulkbox.cloud/webhook/730b4433-4805-42be-bdfd-59a13ae1919d",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-08-23T09:39:12.798Z",
      "updatedAt": "2024-08-23T09:39:12.798Z",
      "id": "z2XOCkvaBhGqu8cF",
      "name": "Review"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-08-23T10:00:11.653Z",
  "versionId": "571d76f0-fe02-4511-866a-8c72cfdaa7e3"
}